/.idea
.env
/Docker/nginx/logs/**
/Docker/mysql/**

/Project/.env
/Project/vendor
/Project/node_modules
/Project/public/hot
/Project/public/storage
/Project/storage/*.key
/Project/.vscode
/Project/nbproject
/Project/.vagrant
/Project/Homestead.json
/Project/Homestead.yaml
/Project/npm-debug.log
/Project/yarn-error.log
/Project/.phpunit.result.cache
